/*=============================================================
===============================================================
===============================================================
                            MEDIA MOBILE
===============================================================
===============================================================
=============================================================*/


/*===============================================================
                        GLOBAL
===============================================================*/

* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Playfair Display', serif;
  font-size : 1.6rem;
  line-height: 2;
  text-align : justify;
  color : #838383;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.img-fluid {
  display: block;
  margin: auto;
  max-height : 400px;
}

h2 {
  padding : 10px;
  font-size: 1.4rem;
}

h3 {
  color :#5a5a5a;
}

a {
  color : black;
  font-size: 0.9em;
  padding-right: 10px;
  padding-left: 10px;
}

a:hover {
  color : black;
}

/*===============================================================
                        HEADER
===============================================================*/

.navbar {
  width : 100%;
  padding-left: 2rem;
  text-align: right;
}

.nav-item {
	display:inline-block;
  list-style-position: inside;
	margin: 0 30px;
}

/*===============================================================
                        MAIN
===============================================================*/

.upperGrey {
  text-transform: uppercase;
  color : #adabab;
  font-family: 'Raleway', sans-serif;
}

.link {
  display : block;
  text-align: center;
}

.link:hover {
  color : #adabab;
}

.btn {
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  border : 1px solid #adabab;
  display : block;
  margin : 15px auto;
  padding : 10px 25px;
  width : 40%;
}

.btn:hover {
  color : #adabab;
}

#img1 {
  max-height: none;
}

/*************** BodyPage *************/

article {
  padding : 40px 0;
}

article h2, article h3, article p {
  max-width : 80%;
  margin : auto;
}

.jumbotron {
  background-color: #f3f3f3;
  text-align: center;
  padding-left :0;
  padding-right: 0;
  margin-top: 20px;
}

#newsletter {
  position : absolute;
  width: 100%;
}

#textForm {
  background-color: #f3f3f3;
  border : none;
  border-bottom: 2px solid RGBA(0, 0, 0, 0.25);
}

/*===============================================================
                        FOOTER
===============================================================*/

footer {
  background-color: #f3f3f3;
  min-height: 100px;
  text-align: center;
  padding : 25px 0;
}

/*=============================================================
===============================================================
===============================================================
                            MEDIA DESKTOP
===============================================================
===============================================================
=============================================================*/

@media screen and (min-width :1024px){

  /*************** Article Presentation *************/
  article h2, article p {
    max-width : 80%;
    margin : auto;
  }

}
